Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/
Packages/manifest.json
Packages/packages-lock.json
Packages/com.unity.burst*

Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/
Packages/PackageCache/
SOLTRON/
.DS_Store
